# Binaries for programs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, can be ignored
*_test

# Output of the go coverage tool, can be ignored
*.out

# Directories created by go test -c
/testdir/

# Vendor directory
# Set by "go mod vendor"
/vendor/

# Environment-specific files
.env
.DS_Store # macOS
Thumbs.db # Windows

__debug*